# Folders
logs
coswat_outputs
CoSWAT-Framework
observations
stats
analysis
__pycache__
*.nc
Scripts/result_analysis/reservoirs_coswat/validation/isimipModels/plots/
Scripts/result_analysis/reservoirs_coswat/validation/isimipModels/processedData/
Scripts/result_analysis/reservoirs_coswat/validation/isimipModels/modelOutputs/
Scripts/result_analysis/reservoirs_coswat/validation/isimipModels/stats/
Scripts/result_analysis/reservoirs_coswat/validation/plots
Scripts/res_obs_preprocessing/Reservoir_storage_global_data/raw